@import "../reset.scss";

.mc-pc {

}
.mc-mobile {
  display: none;
}

.mc-pc-top {
  // display: flex;
}

.mc-pc-code {
  width: 590px;
  height: 57px;

  float: right;
  font-size: 12px;
  input {
    width: 440px;
    padding: 20px 0;
    padding-left: 22px;
    // padding: 20px 22px;
    color: #aaaaaa;
    width: 450px;
    border: solid 1px #eaeaea;
  }
  button {
    width: 140px;
    height: 54px;

    color: #fff;
    border-bottom: 2px solid #ea5450;
    background-color: $pink;
  }
}

// .mc-pc-list {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   column-gap: 18px;
// }

.mc {
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 18px;
  }
}

@media (max-width: 767px) {
  .mc-pc {
    display: none;
  }
  .mc-mobile {
    display: block;
  }

  .mcm-title-right {
    width: 141px;
    height: 33px;
    float: right;

    text-align: center;
    border-radius: 7px;
    color: #fff;
    background-color: #ea5450;
    .mcm-title-button {
      font-size: 14px;
      font-weight: 600;
    }
  }

  .mc {
    .content {
      grid-template-columns: 1fr;
      column-gap: 0;
    }
  }
}