@import "../reset.scss";

.mc-pc {

}
.mc-mobile {
  display: none;
}

.mc-pc-top {
  display: flex;
}

.mc-pc-code {
  margin-left: 150px;
  font-size: 12px;
  input {
    padding: 20px 22px;
    color: #aaaaaa;
    width: 450px;
    border: solid 1px #eaeaea;
  }
  button {
    background-color: $pink;
    color: #fff;
    padding: 20px 40px;
  }
}

.mc-pc-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 767px) {
  .mc-pc {
    display: none;
  }
  .mc-mobile {
    display: block;
  }

  .mcm-title-right {
    width: 141px;
    height: 33px;
    margin-right: 19px;
    float: right;

    text-align: center;
    // font-size: 12px;
    // font-weight: 500;
    border-radius: 7px;
    color: #fff;
    background-color: #ea5450;
    .mcm-title-button {
      font-size: 14px;
      font-weight: 600;
    }
  }
}