@import "../reset.scss";

.mc-code {
  width: 590px;
  height: 57px;

  float: right;
  font-size: 12px;
  input {
    width: 440px;
    padding: 20px 0;
    padding-left: 22px;
    // padding: 20px 22px;
    color: #aaaaaa;
    width: 450px;
    border: solid 1px #eaeaea;
  }
  button {
    width: 140px;
    height: 54px;

    color: #fff;
    border-bottom: 2px solid #ea5450;
    background-color: $pink;
  }
}

.mc-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 18px;
}


@media (max-width: 767px) {
  .mc-code {
    width: auto; height: auto;
    input {
      display: none;
    }
    button {
      width: 141px !important;
      height: 33px !important;
      margin-right: 4px;
      border-radius: 5px;
    }
  }
  .mc-content {
    margin-bottom: 25px;
    grid-template-columns: 1fr;
    column-gap: 0;
  }
}