@import "../reset.scss";

@media (max-width: 767px) {
    //mmo
        .mmo-content::-webkit-scrollbar {
            height: 8px;
        }
        .mmo-content::-webkit-scrollbar-thumb {
            background-color: #e6e6e6;
            border-radius: 10px;
        }
        .mmo-content::-webkit-scrollbar-track {
            background-color: #f5f5f5;
            border-radius: 10px;
        }
        .mmo-content {
            margin-bottom: 45px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            column-gap: 16px;
            overflow-x: scroll;
        }

    //mpr
    .mpr-content {
        margin-bottom: 45px;
    }
}