@import "../reset.scss";

.mypage {
  // width: 1199px;
  max-width: 1199px;
  min-width: 815px;
  margin: auto;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 14px;
  // background-color: blue;
}

@media (max-width: 767px) {
  .mypage {
    min-width: 0px;
  }
}