@import "../reset.scss";

.ms-flex {
  color: #fff;
  // margin-left: $basic-padding;
  margin-right: 90px;

  .icon {
    margin: 0 15px 0 0;
    stroke: #fff;
    text,
    tspan,
    circle,
    line,
    ellipse,
    path {
      stroke: #fff;
    }
    text {
      fill: #fff;
    }
  }
}

.ms-menu {
  margin-left: 33px;
  margin-bottom: 20px;
}

.ms-link {
  margin: 0 0 15px 0;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  border-radius: 25px 0 0 25px;
  width: 208px;
  height: 48px;
  font-size: 14px;
  color: #fff;
  span {
    margin: 0;
  }
}

.ms-footer {
  bottom: 35px;
  left: 48px;
}

@media (max-width: 767px) {
  .ms-flex {
    display: none;
  }
}