@import "../reset.scss";

.mohp {

}
.mohm {
  display: none;
}

@media (max-width: 767px) {
  .mohp {
    display: none;
  }
  .mohm {
    display: block;
    width: 100%;
    .title {
      font-weight: 700;
    }
  }
}