@import "../reset.scss";

.profile {
  margin: 104px auto;
  padding-bottom: 25px;
}

.profile-list {
  margin-bottom: 20px;
  .password-set {
    display: flex;
    flex-direction: column;
  }
}
.profile-name {
  margin-bottom: 10px;
  font-size: 12px;
  color: $pricetext;
  font-weight: 700;
}

.profile-content {
  width: 320px;
  height: 40px;
  padding: 10px 20px;

  border: solid 1px #eaeaea;
  color: #868686;
  font-size: 14px;
}

.correction-btn {
  margin-top: 20px;
  padding: 13px;
  width: 320px;
  border-radius: 5px;
  background-color: $pink;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}

@media (max-width: 767px) {
  .profile-flex {
    margin: none;
  }
  .profile {
    margin: 23px auto;
    margin-top: 45px;
  }
}

@media (max-width: 340px) {
  .profile-content {
    padding: 10px 20px;
    width: 100%;
    height: 40px;
    border: solid 1px #eaeaea;
    color: #868686;
    font-size: 14px;
  }
  .correction-btn {
    margin-top: 20px;
    padding: 13px;
    width: 100%;
    border-radius: 5px;
    background-color: $pink;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
  }
}