
//
.sss-modal-img-flex {
  width: 240px;
  height: 180px;
  margin-bottom: 10px;
  position: relative;
  button {
    margin: 0; padding: 0;
  }
}
.sss-modal-img {
  width: 240px;
  height: 180px;
  overflow: hidden;

  border-radius: 5px;
  background-size: cover;
  background-color: #ebebeb;
  img {
    width: 240px;
    height: 180px;

    object-fit: cover;
    border-radius: 5px;
  }
}
.sss-modal-img-inner-icon {
  padding-top: 47px;
  padding-left: 0px;
}
