.storemenu {
  background-color: #fff;
}

.cake-store-menu {
  .contents {
    padding: 0 10px;
  }
  .store-contents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 12px !important;
  }
}

// 케이크 - 상품 변경 Btn 수정
.title > button {
  position: relative;
  left: -5px;
  top: -5px;

  color: #495057;
  margin-left: 15px;
  border: 1px solid #868e96;
  border-radius: 10px;
  font-weight: bold;
  font-size: 12px;
  height: 30px;
  &:hover {
    cursor: pointer;

    color: #e9ecef;
    background-color: #868e96;
  }
}

@media (max-width: 767px) {
  .storemenu {
    padding-bottom: 45px;
  }
  .cake-store-menu {
    > .title > button {
      position: relative;
      left: -15px;
    }
    .contents {
      padding: 0;
    }
    // .store-contents {
      // padding: 0 10px;
    // }
  }
}
