@import "../../reset.scss";

.home-cake {
  background-color: #fff;
  .contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .home-cake {
    margin-bottom: 45px !important;
    .contents {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
