@import '../../reset.scss';

.popularmenu-flex {
  width: 100%;

  // 인기상품 - 상품 변경 Btn 수정
  > .popularmenu.home > button {
    position: relative;
    top: -5px;
    left: -5px;

    color: #495057;
    margin-left: 15px;
    border: 1px solid #868e96;
    border-radius: 10px;
    font-weight: bold;
    font-size: 12px;
    height: 30px;
    &:hover {
      cursor: pointer;

      color: #e9ecef;
      background-color: #868e96;
    }
  }
  .popularmenu-title-flex {
    width: 100%;
    height: 64px;
    padding: 0 10px;

    color: #ea5450;
    font-size: 18px;
    font-weight: 600;
  }
  .popularmenu-title {
    float: left;
    color: #222222;
    font-size: 24px;
  }
  .popularmenu-btn {
    float: right;
    display: flex;
  }
  .popularmenu-btn-arrow {
    width: 30px;
    font-size: 20px;
    font-weight: 800;
    // border-radius: 5px;
    border: 1px solid #ea5450;
  }
}

.popularmenu {
  width: 1199px;
  height: 699px;
  margin: auto;

  position: relative;
  background-color: #fafafa;
  .popularmenu-inner {
    width: 1199px;
    height: 450px;
    position: relative;
    overflow: hidden;
  }
  .popularmenu-contents {
    list-style: none;
    padding-left: 0px;

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
  }
}

@media (max-width: 767px) {
  .popularmenu-flex {
    .popularmenu {
      padding: 0 16px;
    }
    // 인기상품 - 상품 변경 Btn 수정
    .popularmenu.home > button {
      position: relative;
      left: -15px;
    }
    .popularmenu-title-flex {
      padding: 0;
      height: 42px;
    }
    .popularmenu-title {
      font-size: 18px;
    }
    .popularmenu-btn {
      display: none;
    }
  }

  .popularmenu {
    width: 100%;
    height: auto;
    background-color: #fff;
    .popularmenu-inner {
      width: 100%;
      height: 285px;
    }
    .popularmenu-contents::-webkit-scrollbar {
      height: 8px;
    }
    .popularmenu-contents::-webkit-scrollbar-thumb {
      background-color: #e6e6e6;
      border-radius: 10px;
    }
    .popularmenu-contents::-webkit-scrollbar-track {
      background-color: #f5f5f5;
      border-radius: 10px;
    }
    .popularmenu-contents {
      // height: 270px;
      overflow-x: scroll;
    }
  }
}
