.crousel {
  margin: 0;
  // max-width: 1920px;
  // width: 100vw;
  img {
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 767px) {
  .crousel {
    img {
      height: 300px;
    }
  }
}
