@import "../reset.scss";

.main-cake-flex {
  margin-top: 80px;
}
.main-cake {
  width: 1199px;
  margin: auto;
  padding: 0px 10px;
  .cake-contents {
    // padding: 0 $basic-padding;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // grid-column-gap: 20px;
  }
}

@media (max-width: 450px) {
  .main-cake {
    width: 100%;
    .cake-contents {
      padding: 0 16px;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      overflow-x: scroll;
    }
  }
}
