@import "../reset.scss";

.recommend {
  margin: 0;
  background-color: #fafafa;
  padding: 80px 0;

  .recommend-contents {
    padding: 0 $basic-padding;
    justify-content: space-between;
    // display: flex;
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    // grid-column-gap: 20px;
  }
}

@media (max-width: 767px) {
  .recommend {
    .recommend-contents {
      padding: 0 16px;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      overflow-x: scroll;
    }
  }
}