@import "../reset.scss";

.recommend-flex {
  background-color: #fafafa;
}
.recommend {
  // margin: 0;
  // width: 1199px;
  max-width: 1199px;
  min-width: 825px;
  margin: auto;
  background-color: #fafafa;
  padding: 80px 10px;

  .recommend-contents {
    // padding: 0 $basic-padding;
    // justify-content: space-between;

    // display: flex;
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    // grid-column-gap: 20px;
  }
}

@media (max-width: 767px) {
  ::-webkit-scrollbar { 
    width: 0px; 
    height: 13px;
  }

  .recommend {
    width: 100%;
    min-width: 0px;
    padding: 45px 10px 0px 10px;
    background-color: white;
    .recommend-contents {
      padding: 0 16px;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      overflow-x: scroll;
    }
  }
}