.main-ad-flex {
  background: linear-gradient( white 12.201%, #ff8a25 10% );
}
.main-ad {
  margin: auto;
  width: 1199px;
  background-color: #ff8a25;
  // width: 100vw;
  img {
    width: 100%;
    height: 204px;
    // object-fit: cover;
  }
}

@media (max-width: 450px) {
  .main-ad {
    margin: auto;
    width: 100%;
    background-color: #ff8a25;
    img {
      width: 100%;
      height: 100%;
      // object-fit: cover;
    }
  }
}