
//order 모달창
.sfc-order-modal {
    z-index: 999 !important;
}
.sfc-order-modal-box {
    width: 452px !important;
    height: auto !important;
    .left {
        width: 260px;
        margin-right: 29px
    }
    path,
    circle,
    g {
        stroke: #ebebeb;
    }
}

.sfc-order-modal-left {
    width: 452px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;

    text-align: center;
    color: #868686;

    border: 1px solid #e0e0e0;
}

.sfc-order-modal-right-flex {
    display: block !important;
}
.sfc-order-modal-right {
    height: 40px;
    margin-top: 9px;
    // margin-bottom: 10px;
    // display: block !important;
}

.sfc-order-modal-add {
    padding-left: 39%;
}