
.store-detail-flex {
    width: 100%;
    height: 2000px; //1081px
    position: absolute;
    background-color: #fff;
    // z-index: 997;
}
.store-detail-cakelist {
    width:  1199px;
    height: 100%;
    padding: 0;
    margin: auto;
    background-color: #fff;
}

.store-detail-top {
    display: flex;
    margin-bottom: 45px;
    padding: 0 10px;
}
.store-detail-top-img {
    width: 750px;
    height: 600px;
    margin-right: 50px;
    color: #858997;
    background-color: #e6e6e6;
    img {
        width: 800px;
        height: 700px;
    }
}
.store-detail-top-box {
    width: 379px;
    padding: 20px 10px 0 10px;
    .store-detail-store-address,
    .store-detail-store-name {
        font-size: 15px;
    }
    .store-detail-store-ad {
        font-size: 20px;
        font-weight: 700;
    }
    .store-detail-store-address {
        margin-bottom: 10px;
        color: #858997;
    }
    .store-detail-store-content-box {
        margin-bottom: 20px;
    }
    .store-detail-store-content {
        margin-right: 2px;
        display: inline-block;
    }

    .store-detail-store-button-box {
        text-align: center;
    }
    .store-detail-store-button {
        // width: 47%;
        width: 172px;
        height: 40px;
        margin-bottom: 15px;
        border-radius: 4px;
        background-color: #f7f7f7;
        // .detail-store-button-box .detail-store-button:nth-child(1) {
        //     margin-right: 15px;
        // }
        img {
            width: 14px;
            height: 14px;
            margin-right: 5px;
        }
    }
    .store-detail-store-button-bottom {
        width: 100%;
        height: 40px;
        border-radius: 4px;
        color: #fff;
        font-weight: 600;
        background-color: #ea5450;
    }
}

.store-detail-ad {
    width: 100%;
    margin-bottom: 45px;
}

.store-detail-contents {
    .contents {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 16px;
    }
}

//store => cake
.store-detail-flex {
    width: 100%;
    .store-detail-title-flex {
        width: 100%;
        height: 69px;
        padding: 0 10px;
  
        color: #ea5450;
        font-size: 18px;
        font-weight: 600;
    }
    .store-detail-title {
      float: left;
      color: #222222;
      font-size: 24px;
    }
    .store-detail-btn {
        float: right;
        display: flex;
    }
    .store-detail-btn-arrow {
        width: 30px;
        font-size: 20px;
        font-weight: 800;
        // border-radius: 5px;
        border: 1px solid #ea5450;
    }
}
  
.store-detail {
    width: 1199px;
    height: 1100px; //store-cake
    margin: auto;

    position: relative;
    background-color: #fff;
    .store-detail-inner{
        width: 1199px;
        height: 1100px;
        position: relative;
        overflow: hidden;
    }
    .store-detail-contents {
        list-style: none;
        padding-left: 0px;

        width: 100%;
        height: 100%;
        
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media (max-width: 767px) {
    .store-detail {
    }
    
    .store-detail-flex {
        width: 100%;
        height: 100%;
        margin-bottom: 45px;

        position: relative;
        background-color: #fff;
    }
    .store-detail-cakelist {
        width:  100%;
        height: 100%;
        padding: 0 16px;
        margin: auto;

        background-color: #fff;
    }

    .store-detail-top {
        display: block;
        // margin: 0;
        padding: 0;
    }
    .store-detail-top-img {
        width: 100%;
        height: 450px;
        color: #858997;
        background-color: #e6e6e6;
        img {
            width: 100%;
            height: 450px;
        }
    }

    .store-detail-top-box {
        width: 100%;
        padding: 0 16px;
        padding-top: 20px;
        .store-detail-store-button {
            width: 48.7%;
        }
    }

    .store-detail-contents {
        .contents::-webkit-scrollbar {
            height: 8px;
        }
        .contents::-webkit-scrollbar-thumb {
            background-color: #a5a5a5;
            border-radius: 10px;
        }
        .contents::-webkit-scrollbar-track {
            background-color: #e6e6e6;
            border-radius: 10px;
        }
        .contents {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            overflow-x: scroll;
        }
    }

    .store-detail-flex {
        .store-detail-title-flex {
            padding: 0;
            height: 42px;
        }
        .store-detail-title {
            font-size: 18px;
        }
        .store-detail-btn {
            display: none;
        }
    }

    .store-detail {
        width: 100%;
        height: auto;
        background-color: #fff;
        .store-detail-inner{
            width: 100%;
            height: 270px;
        }
        .store-detail-contents::-webkit-scrollbar {
            height: 8px;
        }
        .store-detail-contents::-webkit-scrollbar-thumb {
            background-color: #e6e6e6;
            border-radius: 10px;
        }
        .store-detail-contents::-webkit-scrollbar-track {
            background-color: #f5f5f5;
            border-radius: 10px;
        }
        .store-detail-contents {
            // height: 270px;
            overflow-x: scroll;
        }
    }
}