@import "./reset.scss";

.cake-flex {
  background-color: #fafafa;
}

.cake {
  width: 1199px;
  margin: auto;
  padding: 20px 0px;
}

.item-sort-bar {
  margin-bottom: 40px;
}

.dropdown-bar {
  margin-right: 5px;
  padding: 7px 10px;
  max-width: 80px;
  background-color: #f5f5f5;
  border-radius: 6px;
  color: #8a8a8a;
  font-size: 14px;
  font-weight: 700;
}

.sorted-item {
  max-width: 1199px;
  min-width: 815px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
}
