.event-card {
    width: 378px;
    height: 224px;
    .event-card-img-none {
        line-height: 224px;
        text-align: center;
        color: #858997;
    }
    .card-img {
        height: 224px;
        border-radius: 10px;
        background-color: #e6e6e6;
    }
    .event-card-title {
        width: 378px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
    }
    .event-date {
        width: 378px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
    }
}

@media (max-width: 767px) {
    .event-card {
        width: 280px;
        height: 150px;
        .event-card-img-none {
            line-height: 150px;
            text-align: center;
            color: #858997;
        }
        .card-img {
            width: 280px;
            height: 150px;
            border-radius: 10px;
            background-color: #e6e6e6;
            img {
                width: 100%;
                height: 150px;
            }
        }
        .event-card-title {
            width: 280px;
            overflow:hidden;
            text-overflow:ellipsis;
            white-space:nowrap;
        }
        .event-date {
            width: 280px;
            overflow:hidden;
            text-overflow:ellipsis;
            white-space:nowrap;
        }
    }
}