.footer {
  padding: 96px 25%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #dbdbdb;
  line-height: 24px;
  color: #777777;
}

.footer-title {
  margin-bottom: 23px;
  font-size: 16px;
}

.footer dd {
  font-size: 15px;
}

@media (max-width: 767px) {
  .footer {
    margin: 0 0;
    padding: 20px 10px;
    grid-template-columns: 1fr;
    row-gap: 1ch;
  }
  dd {
    margin: 0;
  }
  .footer-title {
    margin-bottom: 5px;
  }
  dl:nth-child(2),
  dl:nth-child(3) {
    display: none;
  }
}
