@media (max-width: 767px) {
    .hm-link-inner a:hover,
    .hsm-link-inner a:hover,
    .hmm-link-inner a:hover {
        color: #ea5450 !important;
    }
    .hm,
    .hmm,
    .hsm {
        height: 100%;
    }
    .hm-background,
    .hmm-background,
    .hsm-background {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;
    }
    .hm-left,
    .hmm-left,
    .hsm-left {
        position: absolute;
        width: 250px;
        height: 100%; //100%
        background-color: white;
        z-index: 999;

        // overflow: hidden;
        // position: relative;

        .hm-title,
        .hmm-title,
        .hsm-title {
            margin: 40px 0px 35px 20px;
            font-size: 22px;
            font-weight: 700;
        }
        .hm-link,
        .hmm-link,
        .hsm-link {
            width: 100%;
            height: calc((100%) - 109px);
            padding-top: 35px;
            padding-left: 20px;
            font-weight: 600;
            overflow-y: scroll;
            .hm-link-inner,
            .hmm-link-inner,
            .hsm-link-inner {
                margin-bottom: 30px;
            }
        }
    }
}