@import "reset.scss";

.hm {
  display: none;
}

.header-ad-flex {
  background-color: $pink;
}
.header-ad {
  // padding: 0 $basic-padding;
  // width: 1199px;
  width: 1199px;
  margin: auto;
  line-height: 50px;
  background-color: $pink;
}

.header-ad-text {
  position: relative;
  padding-left: 50-$basic-padding;
  font-size: 13px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-align: center;
}

.header-ad-button {
  float: right;
  line-height: 49px;
  background-color: inherit;
  font-size: 10px;
  color: rgb(255, 255, 255);

  img {
    margin: 0 0 0 7.7px;
    position: relative;
    top: 7px;
  }
  // background-color: yellow;
}

//메인
.head-flex {
  // width: 100%;
  border-bottom: 1px solid #eee;
  // background-color: red;
}
.head {
  // width: 1199px;
  width: 1199px;
  height: 82px;
  line-height: 82px;
  margin: auto;
  // border-bottom: 1px solid #eee;
}
.header-left {
  float: left;
}
.header-right {
  float: right;
}
.logo {
  vertical-align: middle;
  margin-right: 22px;
}
.head form {
  height: 46px;
  line-height: 46px;
  display: inline-block;
  border-radius: 50px;
  background-color: #f8f8f9;
}

.head input {
  width: 400px;
  height: 46px;
  background-color: #f8f8f9;
  border-radius: 200px;
  padding-left: 20px;

  background-color: transparent;
  background-image: url("../assets/searchIcon.png");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: 95% center;

  &::placeholder {
    font-weight: 500;
    font-size: 13px;
  }
}

// .header-link {
//   float: right;
//   line-height: 82px;
//   font-size: 14px;
// }

// 메뉴바
.menu-bar-flex {
  // min-width: 825px;
  border-bottom: 1px solid #eee;
}
.menu-bar {
  width: 1199px;
  height: 54px;
  line-height: 54px;
  margin: auto;
  padding: 0px 0px 0px 20px;
  // padding: 15px $basic-padding;

  font-weight: 700;
  color: $pricetext;
  // border-bottom: 1px solid #eee;
}

.menu-bar a {
  margin-right: 5rem; //3~5rem
  color: #333333;
}

.menu-bar a:hover {
  color: $pink;
  border-bottom: none;
}

.menu-bar a:focus {
  color: $pink;
  padding-bottom: 3px;
  border-bottom: 3px solid $pink;
  transition: all 0.1s ease-in;
}
.only-mobile,
.menu-icon,
.question-icon {
  display: none;
}

@media (max-width: 767px) {
  // 보이고 안보이고 지정
  .header-ad,
  .header-right,
  .header-left form,
  .header-left input,
  .menu-bar {
    display: none;
  }

  .head-flex {
  }
  .head {
    width: 100%;
    min-width: 0px;
    height: 60px;
  }

  .only-mobile,
  .menu-icon,
  .logo,
  .question-icon {
    display: block;
    margin: 0;
  }

  .header-left {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 60px;
  }

  .menu-icon {
    height: 30px;
    line-height: 30px;
    margin-left: 6px;
  }
  .logo {
    height: 37px;
  }
  .question-icon {
    margin-right: 15px;
  }
}
