@import "./reset.scss";

.lengthwise {
  width: 279.8px;
  height: 479px;
  margin-bottom: 40px;

  display: inline-flex;
  flex-direction: column;

  border-radius: 11px;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

  .lengthwise-img-flex {
    width: 279.8px;
    height: 304px;
    margin-bottom: 17px;

    border-radius: 10px;
    background-color: #e6e6e6;
    img {
      height: 304px;
    }
  }
  .lengthwise-img-none {
    line-height: 304px;
    text-align: center;
    color: #858997;
  }
  .lengthwise-img {
    width: 100%;
    border-radius: 10px;
  }
}

.lengthwise-info {
  margin-left: 20px;
  font-weight: bold;
}

.card-rating-star {
  display: inline-block;
  img {
    vertical-align: top;
    margin-right: 3px;
    margin-bottom: 16px;
  }
}
.card-review {
  display: inline;
  float: right;
  margin-right: 20px;
  font-size: 11px;
  color: #858997;
}

.card-shop-name {
  width: 250px; //270px
  margin-bottom: 2px;

  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;

  color: $sub-text;
  font-size: 12px;
  line-height: 18px;
}
.card-cake-name {
  width: 250px; //270px
  padding-bottom: 10px;

  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;

  color: $sub-text;
  line-height: 18px;
  font-size: 16px;
}
.card-minprice {
  color: $pricetext;
  font-size: 20px;
}

@media (max-width: 767px) {
  .lengthwise {
    width: 156px;
    height: 262px;
    margin-bottom: 0px;
    display: inline-flex;

    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16);

    .lengthwise-img-flex {
      width: 156px;
      height: 116px;
      border-radius: 10px;
      background-color: #e6e6e6;
      img {
        height: 116px;
      }
    }
    .lengthwise-img-none {
      line-height: 116px;
      text-align: center;
      color: #858997;
    }
    .lengthwise-img {
      width: 156px;
      height: 116px;
    }
  }

  .lengthwise-info {
    margin: 0;
    padding-left: 0px; //왜안돼?
    font-weight: bold;
    .card-review {
      height: 13px;
      margin: 0;
      display: inline;
  
      float: right;
      font-size: 11px;
      color: #858997;
    }
    .card-rating-star {
      display: inline-block;
      height: 13px;
      img {
        width: 13px;
        vertical-align: top;
      }
    }
    .card-shop-name {
      width: 156px;
    
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
    
      color: #333333;
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
    }
    .card-cake-name {
      width: 156px;
      margin-bottom: 10px;
  
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
  
      color: $sub-text;
      line-height: 18px;
      font-size: 15px;

      border-bottom: 1px solid #eee;
    }
    .card-minprice {
      color: $pricetext;
      font-size: 18px;
    }
  }
}