
.login-sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px 0 0;
  a {
    font-size: 12px;
    color: #333;
  }
}

.login-auto {
  margin: 0;
  font-size: 12px;
  color: #333;
  font-weight: bold;
  label {
    margin-left: 4px;
  }
  input {
    display: inline-block;
    padding-top: 5px;
  }
  a {
    font-size: 12px;
    color: #333;
  }
}

.login-register {
  text-align: center;
  font-size: 12px;
  color: #333;
  a {
    padding-left: 2px;
    color: 000;
    font-weight: 500;
    text-decoration: underline;
  }
}

input[type="checkbox"]{
  display: none;
}

//LoginFind
.login-sub-title {
  margin-left: 9px;
  margin-bottom: 45px;
  color: #868686;
  font-size: 14px;
}
