.login {
  width: 100%;
}
.login-section {
  margin: 40px auto;
  max-width: 450px;
  height: 972px;
  padding: 34px 65px 491px 54px;
  border-radius: 18px;
  //   filter: blur(10px);
  border: solid 1px #ea5450;
}

.login-input {
  border: 1px solid #eaeaea;
  width: 320px;
  height: 42px;
  padding-left: 18px;
}
