.login {
  width: 100%;
}
.login-section {
  margin: 40px auto;
  max-width: 450px;
  height: 972px;
  padding: 34px 65px 491px 54px;
  border-radius: 18px;
  //   filter: blur(10px);
  border: solid 1px #ea5450;
}
.login-list {
  margin: 20px 0 8px;
  font-size: 12px;
  font-weight: bold;
  color: #333;
}

.login-input {
  border: 1px solid #eaeaea;
  width: 320px;
  height: 42px;
  padding-left: 18px;
  & + & {
    margin-top: 6px;
  }
}

.login-title {
  font-size: 20px;
  color: #222222;
  margin: 0;
  font-weight: 500;
  margin-bottom: 36px;
}
.login-sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px 0 0;
  a {
    font-size: 12px;
    color: #333;
  }
}
.auto-login {
  margin: 0;
  font-size: 12px;
  color: #333;
  font-weight: bold;
  label {
    margin-left: 4px;
  }
  input {
    display: inline-block;
    padding-top: 5px;
  }
  a {
    font-size: 12px;
    color: #333;
  }
}

.login-btn {
  margin: 28px 0 20px;
  padding: 13px;
  display: block;
  width: 320px;
  border-radius: 5px;
  background-color: rgba(234, 84, 80, 0.5);

  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  &:disabled {
    background-color: #ea5450;
  }
}
.login-go-to-register {
  text-align: center;
  font-size: 12px;
  color: #333;
  a {
    padding-left: 2px;
    color: 000;
    font-weight: 500;
    text-decoration: underline;
  }
}
.iscorrect-login {
  margin: 20vh auto;

  width: 258px;
  height: 44px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  line-height: 44px;
  background-color: #525252;
  font-size: 12px;
  color: #fff;
}

@media (max-width: 767px) {
  // 보이고 안보이고 지정
  .login-section {
    border: none;
  }
}
