@import "reset.scss";

.section-title {
  // padding: 0 $basic-padding 30px;
  padding: 0px 0px 30px 0px;
  font-weight: bold;

  .title {
    display: inline-block;
    color: #222222;
    font-size: 24px;
  }

  .link {
    float: right;
    margin-top: 12px;

    color: $letter-pink;
    font-size: 16px;
  }

  .pc {
  }
  .mobile {
    display: none;
  }
}


@media (max-width: 767px) {
  .section-title {
    padding: 0 16px;
    .title {
      font-size: 18px;
    }
    // .title::after {
    //   position: absolute;
    //   background-image: url("../assets/right-arrow.svg");
    //   background-size: 100% 100%;
    //   background-repeat: no-repeat;
    //   width: 30px;
    //   height: 30px;
    //   content: "";
    // }
    .pc,
    .link {
      display: none;
    }
    .mobile {
      display: block;
      img {
        width: 30px;
        height: 30px;
        background-size: 100% 100%;
        position: absolute;
      }
    }
  }
}
