@import "../../reset.scss";

.mmo-pc-card-content {
  width: 841px;
  height: 162px;
  margin-bottom: 40px;
  display: flex;
}
.order-img {
  margin-right: 33px;
  width: 162px;
  height: 162px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}
  
.order-content {
  margin-bottom: 40px;
  color: $sub-text;

  .order-cake {
    margin-bottom: 3px;
    font-size: 18px;
    font-weight: 500;
  }
  .order-cake-shop {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
  }
  .order-option {
    margin-bottom: 5px;
    color: #777777;
    font-size: 12px;
    font-weight: 500;
  }
  .order-time {
    margin-top: 3px;
  }
  .order-price {
    margin-top: 40px;
    font-size: 18px;
    font-weight: 700;
    color: $pink;
  }
}