
.mms-pc-card {
    width: 100%;
    font-size: 12px;
    color: #222b45;
    border-bottom: 1px solid #eff4fa;
}

@media (max-width: 767px) {
    .mmmcard {
        width: 99%;
        height: 73px;
        margin-bottom: 20px;
        border-radius: 8px;
        background-color: #f5f5f5;
        box-shadow: 1px 2px 2px rgb(212, 212, 212);
    }

    .mmm {
        .content {
          margin: 0 6px;
          margin-top: 20px;
          overflow-y: scroll;
        }
    }

    .mmmcard-box {
        padding: 14px;
        // background-color: red;
        .mmmcard-title {
            margin-bottom: 5px;
            font-size: 15px;
            font-weight: 600;
        }
        .mmmcard-content {
            height: 20px;
            overflow:hidden;
            text-overflow:ellipsis;
            white-space:nowrap;
            .mmmcard-date {
                font-size: 12px;
                color: #777777;
                .mmmcard-price {
                    margin-top: 2px;
                    float: right;
                    font-size: 14px;
                    font-weight: 600;
                    color: #222b45;
                }
            }
        }
    }
}