
// .seller-block {
//   margin: 23px auto;
//   margin-top: 45px;
// }
// .seller-store {
//   margin: 23px auto;
//   margin-top: 45px;
// }
// .store-img-add {
//   margin: 0 0 30px 0;
//   height: 120px;
//   width: 120px;
//   background-color: #ebebeb;
//   border-radius: 5px;
// }



// @media (max-width: 767px) {
//   .seller-block {
//     margin-top: 0;
//     display: flex;
//   }
// }


.seller-block {
  margin: 23px auto;
  margin-top: 45px;
}
.seller-store {
  margin: 23px auto;
  margin-top: 45px;
}

.seller-list {
  display: flex;
}



.sss-img {
  width: 176px;
  height: 176px;
  margin-right: 16px;
  margin-bottom: 24px;
  position: relative;
}
.sss-img-inner {
  width: 176px;
  height: 176px;
  overflow: hidden;

  border-radius: 5px;
  background-size: cover;
  background-color: #ebebeb;
  img {
    width: 176px;
    height: 176px;

    object-fit: cover;
    border-radius: 5px;
  }
}
.sss-img-inner-icon {
  padding-top: 48px;
  padding-left: 48px;
}

.sss-img-2 {
  width: 242px;
  height: 176px;
  margin-right: 16px;
  margin-bottom: 10px;
  position: relative;
}
.sss-img-inner-2 {
  width: 242px;
  height: 176px;
  overflow: hidden;

  border-radius: 5px;
  background-size: cover;
  background-color: #ebebeb;
  img {
    width: 242px;
    height: 176px;

    object-fit: cover;
    border-radius: 5px;
  }
}
.sss-img-inner-icon-2 {
  padding-top: 48px;
  padding-left: 80px;
}



.sellerstore-content {
  width: 436px;
  height: 40px;
  padding: 10px 20px;

  border: solid 1px #eaeaea;
  color: #868686;
  font-size: 14px;
}

.sellerstore-btn {
  width: 114px;
  margin-top: 20px;
  margin-bottom: 45px;
  padding: 13px;

  float: right;

  font-size: 12px;
  font-weight: 700;
  color: #fff;

  border-radius: 5px;
  background-color: #ea5450;
}



@media (max-width: 767px) {
  .seller-block {
    margin: 0 20px;
  }

  .sellerstore-content {
    width: 100%;
    height: 40px;
    padding: 10px 20px;

    border: solid 1px #eaeaea;
    color: #868686;
    font-size: 14px;
  }

  .sss-img {
    width: 120px;
    height: 120px;
  }
  .sss-img-inner {
    width: 120px;
    height: 120px;
    img {
      width: 120px;
      height: 120px;
    }
  }
  .sss-img-inner-icon {
    padding-top: 21px;
    padding-left: 21px;
  }
  
  .sss-img-2 {
    width: 165px;
    height: 120px;
  }
  .sss-img-inner-2 {
    width: 165px;
    height: 120px;
    img {
      width: 165px;
      height: 120px;
    }
  }
  .sss-img-inner-icon-2 {
    padding-top: 21px;
    padding-left: 43px;
  }
}

@media (max-width: 339px) {
  .seller-list {
    height: 310px;
    display: block;
  }
  .sss-img-2 {
    padding-top: 15px !important;
  }
}