.spm-modal-img-inner input#bannerUrlTextInput {
  width: 372px;
  height: 25px;
  margin-bottom: 20px;
  padding: 14px;

  font-size: 15px;
  border: 0;
  border-radius: 10px;

  outline: none;
  background-color: rgb(233, 233, 233);

  &::placeholder {
    font-size: 5px;
    font-style: italic;
  }
}

.spm-modal-img-inner {
  button {
    margin: 0;  padding: 0;
  }
  div {
    width: 160px !important;
    height: 176px !important;
    border-radius: 5px;
    background-color: #ebebeb;
    img {
      width: 160px !important;
      height: 176px !important;
      border-radius: 5px;
    }
  }
}



//이미지 모달창
.spm-modal-background {
  width: 100%;
  min-width: 1199px;
  height: 100%;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.281);
  z-index: 998;
}
.spm-modal-box {
  width: 775px;
  //  height: 631px;
  padding: 45px;
  position: absolute;

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(110, 27, 20, 0.4);
  background-color: #fff;
  z-index: 999;
}
.spm-modal-title {
  margin-bottom: 17px;
  color: #222222;
  font-size: 20px;
  font-weight: 700;
}
.spm-modal-subtitle {
  margin-top: 15px;
  margin-bottom: 7.5px;
  color: #222222;
  font-weight: 500;
}
.spm-modal-img-box {
  display: flex;
  column-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.spm-add-add-img {
  width: 160px;
  height: 176px;
  padding: 0;
  display: inline-block;

  border-radius: 5px;
  background-color: #ebebeb;
  cursor: pointer;
  img {
    width: 160px;
    height: 176px;
    border-radius: 5px;
  }
}
.spm-add-image {
  width: 36.7px !important;
  height: 36.7px !important;
}
.spm-add-add-img-icon {
  padding-top: 68px !important;
  padding-left: 62px !important;
}

.spm-modal-btn-box {
  margin-top: 25px;
}

//
.spm-modal-img-flex {
  width: 160px;
  height: 176px;
  margin-bottom: 10px;
  position: relative;
}
.spm-modal-img {
  width: 160px;
  height: 176px;
  overflow: hidden;

  border-radius: 5px;
  background-size: cover;
  background-color: #ebebeb;
  img {
    width: 160px;
    height: 176px;

    object-fit: cover;
    border-radius: 5px;
  }
}

.spm-modal-img-inner-icon {
  padding-top: 47px;
  padding-left: 0px;
}



@media (max-width: 767px) {
  .spm-modal-img-inner input#bannerUrlTextInput {
    width: 280px;
    height: 25px;
    font-size: 15px;
    border: 0;
    border-radius: 10px;
    outline: none;
    padding: 12px;
    background-color: rgb(233, 233, 233);

    margin-bottom: 20px;
  }

  //이미지 모달창
  .spm-modal-background {
    width: 100%;
    min-width: 0px;
    height: 100%;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.281);
    z-index: 998;
  }
  .spm-modal-box {
    width: 80%;
    // height: 530px;
    padding: 25px;
    position: absolute;

    border-radius: 10px;
    box-shadow: 0 0 10px rgba(110, 27, 20, 0.4);
    background-color: #fff;
    z-index: 999;
  }
  .spm-modal-title {
    margin-bottom: 17px;
    color: #222222;
    font-size: 20px;
    font-weight: 700;
  }
  .spm-modal-subtitle {
    margin-bottom: 7.5px;
    color: #222222;
    font-weight: 500;
  }
  .spm-modal-img-box::-webkit-scrollbar {
    height: 8px;
  }
  .spm-modal-img-box::-webkit-scrollbar-thumb {
    background-color: #e6e6e6;
    border-radius: 10px;
  }
  .spm-modal-img-box::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  .spm-modal-img-box {
    column-gap: 11px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow-x: scroll;
  }

  .spmdetail-content-btn-box {
    margin-top: 25px;
  }
}

@media (max-width: 288px) {
  .spmdetail-content-btn {
    width: 89.5px !important;
  }
}
