@import "../reset.scss";

.seller-mypage-top-flex {
    margin: 90px 0;
}

.seller-mypage-top {
  width: 100%;
  padding-bottom: 45px;
  font-size: 18px;
  text-align: left;
  // display: flex;
  margin-bottom: 70px;
  .mmo-mobile-front-title {
    float: left;
    margin-right: 40px;
    font-size: 20px;
    font-weight: 700;
  }
  .seller-mypage-middle-title {
    float: left;
    padding-top: 8px;
    font-size: 12px;
    font-weight: 500;
    color: #777777;
  }
}

@media (max-width: 767px) {
  .seller-mypage-top {
    .mmo-mobile-front-title {
      margin-right: 20px;
    }
  }
}

@media (max-width: 294px) {
  .seller-mypage-middle-title {
    display: none;
  }
}