@import "../reset.scss";

.pc {
}
.mobile {
    display: none;
}

.seller-mypage-top-flex {
  margin: 90px 0;
}

.seller-mypage-top {
  width: 837px;
  padding-bottom: 45px;
  font-size: 18px;
  text-align: left;
  // display: flex;
  margin-bottom: 70px;
  .seller-mypage-front-title {
    float: left;
    margin-right: 40px;
    font-size: 20px;
    font-weight: 700;
  }
  .seller-mypage-middle-title {
    float: left;
    padding-top: 8px;
    font-size: 12px;
    font-weight: 500;
    color: #777777;
  }
}

.seller-mypage-ss-mp {
  width: 100%;
  margin-bottom: 45px;
  font-size: 18px;
}

@media (max-width: 767px) {
  .pc {
    display: none;
  }
  .mobile {
    display: block;
  }

  .seller-mypage-top-flex {
    width: 100%;
    margin: 0;
    .title {
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: 700;
    }
    .content {
      margin-bottom: 45px;
    }
  }

  .seller-mypage-top {
    width: 100%;
    margin: 0;
    padding-bottom: 25px;
    .seller-mypage-front-title {
      margin-right: 20px;
    }
  }
}


@media (max-width: 320px) {
  .seller-mypage-middle-title {
    display: none;
  }
}