@import "../../reset.scss";

.storecard-flex {
  margin-bottom: 40px;
}

.storecard {
  width: 385px;
  height: 330px;
  margin-bottom: 40px;

  display: inline-flex;
  flex-direction: column;
  background-color: #fff;
  .storecard-img {
    width: 385px;
    height: 280px;
    margin-bottom: 18px;
    position: relative;
  }
  .storecard-img-inner {
    width: 385px;
    height: 280px;
    overflow: hidden;

    background-size: cover;
    background-color: #ebebeb;
    img {
      width: 385px;
      height: 280px;

      object-fit: cover;
    }
    div {
      line-height: 280px;
      text-align: center;
      color: #858997;
      font-size: 18px;
    }
  }
}

.storecard-info {
    .card-top {
        margin-bottom: 5px;
        color: #333333;
        font-size: 12px;
    }
    .card-title {
        width: 382px; //270px
        margin-bottom: 5px;
    
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
    
        color: $sub-text;
        font-size: 16px;
        font-weight: 600;
        // line-height: 18px;
    }
    .card-location {
        width: 382px; //270px
    
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
    
        color: #777777;
        font-size: 14px;
    }
}

@media (max-width: 767px) {
  .storecard-flex {
    margin-bottom: 0;
  }

  .storecard {
    width: 187px;
    height: 190px;
    margin-bottom: 10px;
    display: inline-flex;

    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16);

    .storecard-img {
      width: 187px;
      height: 136px;
      margin-bottom: 5px;
      position: relative;
    }
    .storecard-img-inner {
      width: 187px;
      height: 136px;
      overflow: hidden;
  
      background-size: cover;
      background-color: #ebebeb;
      img {
        width: 187px;
        height: 136px;
  
        object-fit: cover;
      }
      div {
        line-height: 136px;
        text-align: center;
        color: #858997;
        font-size: 16px;
      }
    }
  }

  .storecard-info {
    margin: 0;
    padding-left: 0px; //왜안돼?
    font-weight: bold;
    .card-top {
      margin-bottom: 0;
    }
    .card-title {
      width: 191px;
      margin-bottom: 0;
  
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
  
      color: $sub-text;
      line-height: 18px;
      font-size: 15px
    }
    .card-location {
      width: 191px;
    
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
    
      color: #333333;
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
    }
  }
}