@import "../../reset.scss";

.storecard {
    width: 382px;
    height: 330px;
    margin-bottom: 40px;

    display: inline-flex;
    flex-direction: column;
    background-color: #fff;
    .storecard-img-flex {
        width: 382px;
        height: 250px;
        margin-bottom: 5px;

        background-color: #e6e6e6;
        img {
        height: 250px;
        }
    }
    .storecard-img-none {
        line-height: 250px;
        text-align: center;
        color: #858997;
    }
    .storecard-img {
        width: 100%;
        border-radius: 10px;
    }
}

.storecard-info {
    .card-top {
        margin-bottom: 5px;
        color: #333333;
        font-size: 12px;
    }
    .card-title {
        width: 382px; //270px
        margin-bottom: 5px;
    
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
    
        color: $sub-text;
        font-size: 16px;
        font-weight: 600;
        // line-height: 18px;
    }
    .card-location {
        width: 382px; //270px
    
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
    
        color: #777777;
        font-size: 14px;
    }
}

@media (max-width: 767px) {
  .storecard {
    width: 191px;
    height: 190px;
    margin-bottom: 10px;
    display: inline-flex;

    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16);

    .storecard-img-flex {
      width: 191px;
      height: 125px;
      border-radius: 0;
      background-color: #e6e6e6;
      img {
        height: 125px;
      }
    }
    .storecard-img-none {
      line-height: 125px;
      text-align: center;
      color: #858997;
    }
    .storecard-img {
      width: 191px;
      height: 125px;
    }
  }

  .storecard-info {
    margin: 0;
    padding-left: 0px; //왜안돼?
    font-weight: bold;
    .card-top {
      margin-bottom: 0;
    }
    .card-title {
      width: 191px;
      margin-bottom: 0;
  
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
  
      color: $sub-text;
      line-height: 18px;
      font-size: 15px
    }
    .card-location {
      width: 191px;
    
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
    
      color: #333333;
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
    }
  }
}