@import "../reset.scss";

.ss-fc-link-flex {
    display: inline-block;
    float: right;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    a {
      margin: 0 10px;
    }
    .ss-fc-link {
        color: #222222;
    }
    .ss-fc-link:hover {
        color: $pink;
    }
    .ss-fc-link:focus {
        color: $pink;
    }
}

.seller-img-box {
    width: 162px;
    height: 162px;
    margin-right: 33px;
  
    font-size: 16px;
    background-color: #e6e6e6;
    img {
      width: 100%;
    }
    .seller-img-none {
      line-height: 162px;
      text-align: center;
      color: #858997;
    }
    .seller-img {
      width: 162px;
      height: 162px;
    }
}

@media(max-width: 767px) {
    .ss-fc-link-flex {
        margin-top: 4px;
        .ss-fc-link-bar {
            display: none !important;
        }
    }

    .sso-ssh-mobile-box {
        width: 100%;
        min-width: 0px;
        padding: 45px 16px 0 16px;
        background-color: #fff;
    }
    .spm-ssr-mobile-box {
        width: 100%;
        min-width: 0px;
        padding-top: 45px;
        background-color: #faf4f4;  
    }

    .seller-content {
        padding-bottom: 25px;
    }

    .seller-img-box {
        width: 100px;
        height: 100px;
        margin: 0; padding: 0;
        margin-right: 16px;
        float: right;
    
        border-radius: 10px;
        background-color: #e6e6e6;
        img {
            width: 100%;
            border-radius: 10px;
        }
        .seller-img-none {
          line-height: 100px;
          text-align: center;
          color: #858997;
        }
        .seller-img {
          width: 100px;
          height: 100px;
        }
    }
}