.seller {
  max-width: 1199px;
  min-width: 815px;
  margin: auto;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@media (max-width: 767px) {
  .seller {
    min-width: 0px;
    display: block;
  }
}