@import "../reset.scss";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    padding-right: 5px;
}

#spm-none-1 {
    opacity: 0;
    pointer-events: none;
}

//spm에서만
.move-tap {
    padding-left: 380px;
}
.spm-add-add-img {
    width: 160px !important;
    padding: 0 !important;
    display: inline-block;

    background-color: #ebebeb;
    cursor: pointer;
}
.spm-add-add-img-icon {
    padding-top: 50px !important;
    padding-left: 40px !important;
}

.spm-tap {
    position: absolute;
    right: 0;
    margin: 0;
    padding: 5px;
    border-radius: 0 5px 5px 0;
    width: 35px;
    height: 100%;
    background-color: $pink;
    button {
        padding: 0;
    }
}

.spm-bottom {
    .spm-bottom-inner {
        width: 100%;
    }
    path,
    circle,
    g {
        stroke: #ebebeb;
    }
}

//ssr에서만



@media (max-width: 767px) {
    .spm-ssr-title {
        padding-left: 16px;
    }

    //spm에서만
    .move-tap {
        width: 100%;
    }

    .spm-bottom {
        width: 100%;
        height: 65px;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;

        display: flex;
        justify-content: space-between;
        align-items: center;

        border-radius: 20px 20px 0px 0px;
        background-color: #EA5450;

        .spm-bottom-inner {
            width: auto;
            margin-top: 10px;
            img {
                width: 30px;
                height: 30px;
            }
        }

        .spm-bottom-left {
            margin-left: 20px;
        }
        .spm-bottom-middle {
            img {
                width: 18px !important;
                height: 18px !important;
            }
        }
        .spm-bottom-right {
            margin-right: 20px;
        }
    }
}
