
.management-card {
    width: 848px;
    position: relative;
    margin-bottom: 20px;
    display: flex;
  
    height: 230px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #fefefe;
    // background-color: red;
}

.management-section {
    margin: 0 0 0 30px;
}

.move-tap {
    padding-left: 380px;
}

.management-content {
    display: flex;
    .ssr-content {
        width: 549px;

        .order-cake {
            margin-bottom: 3px;
            font-size: 18px;
            font-weight: 600;
        }
        .order-cake-shop {
            margin-bottom: 5px;
            font-size: 14px;
            font-weight: 500;
        }
    }
}