
.spm-pc-card {
    width: 848px;
    position: relative;
    margin-bottom: 20px;
    display: flex;
  
    height: 230px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #fefefe;
    // background-color: red;
    .spm-pc-add-section {
        margin: 0 0 0 30px;
    }
    .move-tap {
        padding-left: 380px;
    }
}