.spm-mobile-add-option {
    // width: 100%;

    .option-input {
        // width: 100%;
        margin-bottom: 20px;
        display: flex;
        .option-input-text {
            width: 98%;
        }
        .option-input-left-icon,
        .option-input-right {
            opacity: 0;
        }
        .option-input-left {
            // float: left;
            margin-top: 2px;
            margin-right: 7px;
        }
        .option-input-right {
            // float: right;
        }
        .add-price {
            width: 120px;
            border-radius: 5px;
            border: 1px solid #B2B2B2;
        }
    }
    .option-input:hover {
        .option-input-left-icon,
        .option-input-right {
            opacity: 100;
        }
        .option-input-text {
            width: 98%;
            border-bottom: 3px solid #333;
        }
    }

    .option-button {
        margin: 0 0 20px 17px;
        font-size: 14px;
        color: #8b9094;
    }
}

.spm-mobile-add-option-hr {
    margin-bottom: 30px;
    border: 1px solid #DDDDDD;
    // background-color: #9EA4AA;
}
.spm-mobile-add-option-button {
    margin-bottom: 40px;
    color: #9EA4AA;
    font-size: 16px;
    font-weight: 500;
  // background-color: red;
}

.option-title {
    // padding: 0 10px;
    margin-bottom: 20px;
}
.option-add-cake-name {
}
