
.spmcard {
    width: 848px;
    height: 230px;
    position: relative;
    margin-bottom: 20px;
    display: flex;
  
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #fefefe;
    .spmcard-box {
        width: 100%;
        margin-left: 30px;
        .spmcard-box-inner {
            display: flex;
        }
        .move-tap {
            padding-left: 380px;
        }
        .spmcard-content {
            width: 76%;
            padding: 8px 13px 0px 16px;
            color: black;
            font-size: 18px;
            font-weight: 500;
            .spmcard-cake {
                overflow:hidden;
                text-overflow:ellipsis;
                display:-webkit-box;
                -webkit-line-clamp:1;
                -webkit-box-orient:vertical;
            }
            .spmcard-cake-shop {
                overflow:hidden;
                text-overflow:ellipsis;
                display:-webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient:vertical;

                // color: #777777;
                font-size: 15px;
                font-weight: 400;
            }
        }
    }
}

@media(max-width: 767px) {
    .spmcard {
        width: 100%;
        height: 148px;
        margin-bottom: 20px;
    
        border-radius: 0px;
        background-color: #fff;
        box-shadow: 0px 1px 3px rgb(212, 212, 212), 0px -1px 3px rgb(212, 212, 212);
        .spmcard-box {
            margin: 0;
            .spmcard-box-inner {
                display: block;
            }
            .move-tap {
                padding: 0;
                text-align: center;
            }
            .spmcard-content {
                padding: 8px 13px 0px 16px;
                font-size: 16px;
                font-weight: 700;
                .spmcard-cake-shop {
                    color: #777777;
                    font-size: 13px;
                    font-weight: 500;
                }
            }
        }
    }
}