@import "../../reset.scss";

.ssr-pc-card-flex {
    margin-bottom: 40px;

    .order-time {
        margin-bottom: 15px;
        color: #777777;
        font-size: 14px;
        font-weight: 500;
    }

    .ssr-content {
        display: flex;
        flex-direction: row;
        margin-bottom: 40px;
        color: $sub-text;
        margin-bottom: 20px;

    }

    .ordered-cake {
        font-size: 12px;
        color: #777;
        font-weight: 500;
        line-height: 22px;
    } 
    .review-content {
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
    }
}