@import "../../reset.scss";

.sso-ssh-card {
    width: 841px;
}

.sso-ssh-card-date {
    margin-bottom: 15px;
    color: #777777;
    font-size: 14px;
    font-weight: 500;
}
.sso-ssh-card-box {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    background-color: #fff;
    .sso-ssh-card-box-inner {
        width: 76%;
        float: left;
        .sso-ssh-card-title {
            font-size: 18px;
            font-weight: 600;
        }
        .sso-ssh-card-middle {
            width: 100%;
            height: 108px;
            
            overflow:hidden;
            text-overflow:ellipsis;
            display:-webkit-box;
            -webkit-line-clamp:6;
            -webkit-box-orient:vertical;

            color: #777777;
            font-weight: 400;
            font-size: 13px;
        }
        .sso-ssh-card-bottom {
            color: #ea5450;
        }
    }
}

@media(max-width:767px) {
    .sso-ssh-card {
        width: 100%;
    }

    .sso-ssh-card-date {
        margin: 20px 0 10px 0;
        font-weight: 600;
    }
    .sso-ssh-card-date-0 {
        margin-top: 0;
    }

    .sso-ssh-card-box {
        width: 100%;
        height: 94px;
        margin-bottom: 10px;
        display: block;

        border-radius: 8px;
        background-color: #f5f5f5;
        box-shadow: 1px 2px 2px rgb(212, 212, 212);
        .sso-ssh-card-box-inner {
            width: 85%;
            margin-left: 14px;
            margin-top: 14px;
            .sso-ssh-card-title {
                font-size: 15px;
            }
            .sso-ssh-card-middle {
                height: auto;
                margin-bottom: 5px;
                -webkit-line-clamp:1;
            }
            .sso-ssh-card-bottom {
                color: #000;
            }
        }
        .sso-ssh-card-arrow {
            height: 100%;
            line-height: 120px;
            float: right;
            img {
                width: 40px;
            }
        }
    }
}

@media(max-width: 391px) {
    .sso-ssh-card-arrow {
        display: none;
    }
}