@import "../../reset.scss";

.mccard {
  // margin-left: 20px;
  margin-bottom: 20px;
  width: 410px;
  height: 145px;
  padding: 20px;
  border: solid 1px #eaeaea;
  color: $pricetext;
}

.mccard-top {
  font-size: 20px;
  font-weight: 900;
  .mccard-top-day {
    float: right;
    font-size: 14px;
    font-weight: 700;
  }
}

.mccard-middle {
  font-size: 12px;
  font-weight: 500;
}

.mccard-bottom {
  width: 100%;
  margin-top: 35px;
  justify-content: space-between;
  .mccard-bottom-day {
    margin: 0;
    float: left;
    font-size: 14px;
    font-weight: 700;
  }
  .mccard-using {
    margin: 0;
    float: right;
  
    color: #777777;
    font-size: 14px;
    font-weight: 500;
  }
}

@media(max-width: 767px) {
  .mccard {
    width: 99%;
    height: 83px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #f5f5f5;
    box-shadow: 1px 2px 2px rgb(212, 212, 212);
  }

  .mccard-top {
    font-size: 17px;
    font-weight: 800;
    .mccard-top-day {
      font-size: 14px;
      font-weight: 600;
    }
  }
  
  .mccard-middle {
    float: right;
    font-size: 12px;
    font-weight: 500;
  }

  .mccard-bottom {
    .mccard-bottom-day {
      float: right;
    }
  }
}