@import "../../reset.scss";

.mmocard {
  width: 841px;
  height: 162px;
  margin-bottom: 40px;
  display: flex;
}

// .mmocard-img-box {
//   margin-right: 33px;
//   width: 162px;
//   height: 162px;
//   overflow: hidden;
//   font-size: 16px;
//   img {
//     width: 100%;
//     height: 100%;
//   }
// }
  
.mmocard-content {
  // width: 100%;
  margin-bottom: 40px;
  color: $sub-text;

  .mmocard-cake {
    margin-bottom: 3px;
    font-size: 18px;
    font-weight: 500;
  }
  .mmocard-cake-shop {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
  }
  .mmocard-option {
    margin-bottom: 5px;
    color: #777777;
    font-size: 12px;
    font-weight: 500;
  }
  .mmocard-time {
    margin-top: 3px;
  }
  .mmocard-price {
    margin-top: 40px;
    font-size: 18px;
    font-weight: 700;
    color: $pink;
  }
}

@media(max-width: 767px) {
  .mmocard {
    margin: 0;
    width: 156px;
    height: 262px;
    
    display: inline-flex;
    flex-direction: column;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16);
  }

  // .mmocard-img-box {
  //   width: 156px;
  //   height: 116px;
  //   margin-bottom: 17px;

  //   border-radius: 10px;
  //   background-color: #e6e6e6;
  //   img {
  //     height: 116px;
  //   }
  //   .mmocard-img-none {
  //     line-height: 116px;
  //     text-align: center;
  //     color: #858997;
  //   }
  //   .mmocard-img {
  //     width: 156px;
  //     height: 116px;
  //   }
  // }

  .mmocard-content {
    margin: 0;
    padding-left: 0px;
    font-weight: bold;
    .mmocard-cake {
      width: 156px;
    
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
    
      color: #333333;
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
    }
    .mmocard-cake-shop {
      width: 156px;
      margin-bottom: 5px;
  
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
  
      color: $sub-text;
      line-height: 18px;
      font-size: 15px;
    }
    .mmocard-option {
      width: 156px;
      margin-bottom: 10px;

      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;

      color: #777777;
      font-size: 12px;
      font-weight: 500;

      border-bottom: 1px solid #eee;
    }
    .mmocard-price {
      margin: 0;
      color: $pricetext;
      font-size: 18px;
    }
  }
}