* {
  box-sizing: border-box;
  margin: 0 auto;
}
body {
  margin: 0;
  height: 100%;
  max-width: 100%;
}

::-webkit-scrollbar { 
  width: 0px; height: 0px;
}



body::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  // background-color: rgba(0, 0, 0, 0);
}
body::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
  border-radius: 10px;
  background-clip: padding-box;
  border: 3px solid transparent;
}
// body:hover::-webkit-scrollbar-thumb {
//   background-color: #fff;
// }
body::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
}
body {
  overflow: scroll;
}
