* {
  box-sizing: border-box;
  margin: 0 auto;
}
body {
  margin: 0;
  height: 100%;
  max-width: 100%;
}

::-webkit-scrollbar { 
  width: 0px; height: 0px;
}

body::-webkit-scrollbar {
  // width: 5px;
  height: 13px;
}
body::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background-color: #e6e6e6;
  border-radius: 10px;
  // box-shadow: inset 0px 0px 5px white;
}