


//sss ImageModal
.sss-modal-img-flex {
  width: 180px;
  height: 180px;
  margin-bottom: 10px;
  position: relative;
}
.sss-modal-img {
  width: 180px;
  height: 180px;
  overflow: hidden;

  border-radius: 5px;
  background-size: cover;
  background-color: #ebebeb;
  img {
    width: 180px;
    height: 180px;

    object-fit: cover;
    border-radius: 5px;
  }
}

.sss-modal-img-inner-icon {
  padding-top: 48px;
  padding-left: 48px;
}



//sss-2 ImageModalPhoto
.sss-modal-img-flex-2 {
  width: 240px;
  height: 180px;
  margin-bottom: 10px;
  position: relative;
}
.sss-modal-img-2 {
  width: 240px;
  height: 180px;
  overflow: hidden;

  border-radius: 5px;
  background-size: cover;
  background-color: #ebebeb;
  img {
    width: 240px;
    height: 180px;

    object-fit: cover;
    border-radius: 5px;
  }
}

.sss-modal-img-inner-icon-2 {
  padding-top: 48px;
  padding-left: 80px;
}



@media (max-width: 767px) {
  .sellerstore-add-img {
    width: 212px !important;
    height: 159px !important;
  }
  .sellerstore-modal-img-inner {
    width: 212px !important; //1199
    img {
      width: 212px !important;
      height: 159px !important;
    }
  }

  .sellerstore-modal-img-inner-one {
    width: 212px !important;
    height: 159px !important;
    img {
      width: 212px !important;
      height: 159px !important;
    }
  }

  .sellerstore-add-img-icon {
    padding-top: 38px !important;
    padding-left: 68px !important;
  }
}

@media (max-width: 352px) {
  .sellerstore-add-img {
    width: 144px !important;
    height: 108px !important;
  }
  .sellerstore-modal-img-inner {
    width: 144px !important; //1199
    img {
      width: 144px !important;
      height: 108px !important;
    }
  }

  .sellerstore-modal-img-inner-one {
    width: 144px !important;
    height: 108px !important;
    img {
      width: 144px !important;
      height: 108px !important;
    }
  }

  .sellerstore-add-img-icon {
    padding-top: 15px !important;
    padding-left: 34px !important;
  }
}
