.cake-select-absolute,
.cake-select-absolute-one {
    top: 250px;
    position: absolute;
    ul {
      list-style: none;
      padding-left: 0px;
    }
    .cake-select-top {
      position: absolute;
      width: 0px;
      height: 0px;
      margin-left: 90px;
  
      border-bottom: 10px solid #fff;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      // top: -5px; left: 9px;
      z-index: 998;
    }
    // .cake-select-ul-flex {
    //   width: 200px;
    // }
    .cake-select-ul-2,
    .cake-select-ul {
      width: 200px;
      // height: 209px;
      margin-top: 10px;

      overflow: hidden;
      box-shadow: 0px 0px 15px rgb(204, 204, 204);
      border-radius: 10px;
      background-color: #fff;
    }
    .select-window-ul-long::-webkit-scrollbar {
      width: 13px;
    }
    .select-window-ul-long::-webkit-scrollbar-thumb {
      background-color: #e6e6e6;
      border-radius: 10px;
      background-clip: padding-box;
      border: 3px solid transparent;
    }
    .select-window-ul-long::-webkit-scrollbar-track {
      background-color: #fff;
      border-radius: 10px;
    }
    .select-window-ul-long {
      overflow-y: scroll;
    }

    .cake-select-li {
      padding: 15.6px 16px;
  
      color: #8a8a8a;
      font-size: 15px;
      font-weight: 500;
    }
    .cake-select-li:hover {
      background-color: rgba(234, 84, 80, 0.15);
    }
    .cake-select-li-top {
      border-radius: 10px 10px 0 0;
    }
    .cake-select-li-bottom {
      border-radius: 0 0 10px 10px;
    }
}

@media(max-width:767px) {
  .cake-select-absolute-one {
    top: 130px !important;
    left: 0 !important;
  }
  .cake-select-absolute {
      position: static !important;
      ul {
        list-style: none;
        padding-left: 0;
      }
      li {
          width: 88%;
          height: 53px;
          margin: auto;
          padding-top: 16px;
    
          color: #8a8a8a;
          font-size: 13px;
          font-weight: 500;
          border-bottom: 1px solid #eeeeee;
      }
      .cake-select-top {
          display: none !important;
        }
      .cake-select-ul-2,
      .cake-select-ul {
          width: 100%;
          height: 209px;
          margin-top: 0;
      
          box-shadow: 0 0 0 rgb(204, 204, 204);
          border-radius: 10px;
          background-color: #fff;
      }
      .cake-select-ul-2 {
          height: 260px;
      }
      .cake-select-li {
          padding: 15.6px 0;
      
          color: #8a8a8a;
          font-size: 15px;
          font-weight: 500;
      }
      .cake-select-li:hover {
          background-color: #fff;
      }
      .cake-select-li-top,
      .cake-select-li-bottom {
          border-radius: 0;
      }
  }
}